<div class="container">

  <%= simple_form_for @dog do |f| %>
    <div class="profile-header">
      <div class="profile-photo-field">
       <img src=" " alt="Dog profil picture"/>
       <%= f.file_field :avatar, accept: "image/*" %>
      </div>
    </div>

    <div class="form-fields">
      <div class="form-row">
        <div class="field">
          <%= f.input :name %>
        </div>
        <div class="field">
          <%= f.input :age %>
        </div>
      </div>

      <%= f.input :race,
      collection: Dog::BREEDS,
      prompt: "Sélectionner une race",
      include_blank: false %>
    </div>
  <% end %>


  <div class="dog-size">
    <h2>Taille</h2>
    <div class="size-options" aria-label="Taille du chien">
      <label class="size-option">
        <span>Petit</span>
      </label>

      <label class="size-option">
        <span>Moyen</span>
      </label>

      <label class="size-option">
        <span>Grand</span>
      </label>
    </div>
  </div>


  <div class="dog-tags">
    <h2>Personnalité</h2>
    <div class="tag-options" aria-label="Personnalité du chien">
      <label class="tag-option">
        <span>Tag 1</span>
      </label>

      <label class="tag-option">
        <span>Tag 2</span>
      </label>

      <label class="tag-option">
        <span>Tag 3</span>
      </label>
    </div>
  </div>
</div>
