<div class="container">

  <%#= simple_form_for @dog do |f| %>
  <%= simple_form_for @dog, html: { multipart: true } do |f| %>
    <div class="profile-header">
      <div class="profile-photo-field">
        <%= f.label :photo, class: "avatar-label" do %>
+          <img id="profile-preview" class="profile-preview-img" src="" alt="">
+          <%= f.file_field :photo, accept: "image/*", class: "avatar-input" %>
+          <span class="avatar-add-icon" aria-hidden="true">+</span>
+        <% end %>
        <%#= f.file_field :photo, accept: "image/*" %>
        <%# <img id="profile-preview" class="profile-preview-img" src="" alt=""> %>
      </div>
    </div>

    <div class="form-fields">
      <div class="form-row">
        <div class="field">
          <%= f.input :name, label: "Nom du chien", placeholder: "ex: Buddy" %>
        </div>
        <div class="field">
          <%= f.input :age, label: "Âge du chien (ans)", placeholder: "ex:3" %>
        </div>

        <div class="field">
          <%= f.label "Race du chien" %>
          <div data-controller="breed-list" >
            <input type="hidden" name="dog[race]" id="dog_breed" data-breed-list-target="hiddenInput" />
            <div>
              <input type="text" data-action="input->breed-list#filter focus->breed-list#showList" data-breed-list-target="queryInput" id="breed-input" placeholder="Race du chien" autocomplete="off" />
            </div>
            <div class="breed-list d-none" data-breed-list-target="list">
              <% Dog::BREEDS.each do |breed| %>
                <a class="breed-suggestion" data-action="click->breed-list#select" data-breed="<%= breed %>"><%= breed %></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="dog-size">
      <h2>Taille</h2>
      <div class="size-options" role="radiogroup" aria-label="Taille du chien">
        <%= f.collection_radio_buttons :size, [["Petit","Petit"], ["Moyen","Moyen"], ["Grand","Grand"]], :last, :first do |b| %>
          <label class="size-option">
            <%#= b.radio_button(class: "d-none") %>
            <%= b.radio_button(class: "size-radio") %>
            <span><%= b.text %></span>
          </label>
        <% end %>
      </div>
    </div>


    <div class="dog-tags">
      <h2>Personnalité</h2>
      <div class="tag-options" aria-label="Personnalité du chien">
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b|  %>
          <%= b.check_box(class: "d-none") %>
          <%= b.label(class: "tag-option") do %>
            <span><%= b.object.name %></span>
          <% end %>
        <% end %>
      </div>
    </div>

  <%= f.submit "Valider", class: "btn-primary" %>
  <% end %>
</div>
