<!DOCTYPE html>
<html>
  <head>
    <title>TheWalkingDog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mapbox-api-key" content="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <%= render "layouts/navbar" unless devise_controller? %>
    <turbo-frame id="statsmodal"></turbo-frame>
  </body>
</html>
